<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>randomise</string>
				<string>save</string>
			</array>
			<key>CFBundleURLName</key>
			<string>fischr</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>VoidBold.ttf</string>
		<string>ViodLight.ttf</string>
		<string>VoidMedium.ttf</string>
		<string>VoidRegular.ttf</string>
		<string>VoidSemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
